body {
  font-family: 'Montserrat', sans-serif;
}

.no-uppercase {
  text-transform: unset !important;
}

.uppercase {
  text-transform: uppercase;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-font {
  font-family: "Montserrat", sans-serif;
}